/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #495764;
}

.text {
  text-transform: capitalize;
  font-weight: 700;
  padding: 20px 0;
  font-size: 36px;
  line-height: 1.6;
  color: #151515;
}

.subtext {
  margin-top: 10px;
  padding: 15px 0;
  line-height: 1.6;
  align-items: center;
  text-transform: capitalize;
}

/* Container */
.header__container {
  width: 100%;
  max-width: 1155px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1105px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header */
.header__inner {
  display: flex;
  justify-content: space-between;
}

.inner__logo {
  margin-top: 60px;
  margin-right: 20px;
  width: 50%;
  display: inline-block;
}

.header__burger {
  display: none;
}

.header__nav {
  margin-top: 95px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  /* font-size: calc(13px + 2.5 * ((100vw - 320px) / (1155 - 320))); */
  font-weight: 500;
  color: #1a76dc;
  padding: 5px;
  transition: color 0.2s linear;
}

.nav__link:hover {
  color: #96b8cc;
}

/* Search */
input {
  border: none;
  color: #1a76dc;
  padding: 5px 0px 5px 25px;
  background: url("../images/icone/search.svg") no-repeat scroll 1% 50%;
}

input::placeholder {
  color: #7eafe6;
  font-weight: 500;
  font-size: 12px;
}

/* Title */
.title {
  margin-top: 165px;
  color: #000000;
  text-align: center;
}

.title__subject {
  text-transform: capitalize;
  font-size: 48px;
  /* font-size: calc(33px + 7.5 * ((100vw - 320px) / (1105 - 320))); */
  font-weight: 500;
  padding: 25px 0;
}

.title__subtitle {
  font-size: 18px;
  /* font-size: calc(13px + 2.5 * ((100vw - 320px) / (1105 - 320))); */
  font-weight: 300;
}

/* Title Product page (Masks, Protection, Santizers...)*/
.title__product {
  text-transform: capitalize;
  font-size: 64px;
  /* font-size: calc(40px + 12 * ((100vw - 320px) / (1105 - 320))); */
  font-weight: 500;
}

/* Product */
.section__product {
  margin-top: 180px;
}

.product {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product:nth-child(odd) {
  flex-direction: row-reverse;
}

.product__img {
  width: 50%;
  text-align: center;
}

.product__info {
  width: 50%;
}

.btn {
  margin-top: 15px;
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(92.66deg, #1a76dc 0%, #3cb9ee 100.68%);
  border-radius: 6px;
  transition: color 0.3s linear;
}

.btn:hover {
  color: #03162bd5;
}

/* Product page (Masks, Protection, Santizers...)*/
.product__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 0 50px;
  margin-top: 80px;
}

.product__item h3 {
  text-align: center;
}

.product__item img {
  height: 50%;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

.price__container {
  display: flex;
  justify-content: space-between;
}

.product__list {
  margin: 0;
  align-items: center;
  text-transform: capitalize;
}

.style_none {
  list-style-type: none;
}

.product__pri—Åe {
  font-weight: 500;
  font-size: 24px;
  /* font-size: calc(15px + 4.5 * ((100vw - 320px) / (1105 - 320))); */
  text-transform: capitalize;
  color: #000000;
  align-self: flex-end;
}

/* Footer */
.features {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 118px;
}

.features__item {
  width: calc(80% / 3);
  padding: 20px;
}

/* FAQ */
.faq__content {
  margin-top: 118px;
  text-align: center;
}

.faq__section {
  margin-top: 65px;
}

.faq__dropdown {
  margin-top: 20px;
  padding: 10px 10px 10px 60px;
  position: relative;
  color: #495764;
  text-align: center;
  font-size: 24px;
  /* font-size: calc(14px + 5 * ((100vw - 320px) / (1105 - 320))); */
  cursor: pointer;
  border-bottom: 1px solid #5eb6ea;
  text-align: left;
  transition: color 0.2s linear;
}

.faq__dropdown:hover {
  color: #96b8cc;
}

.faq__dropdown:before {
  position: absolute;
  content: "";
  background: url("../images/icone/Vector.svg") no-repeat center;
  width: 5%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 1;
}

.faq__item {
  padding: 0 30px;
  max-height: 0;
  align-items: center;
  text-transform: capitalize;
  transition: max-height 0.8s ease-out;
  overflow: hidden;
}

/* Question */
.question {
  margin-top: 160px;
  text-align: center;
}

.question__btn {
  margin-top: 55px;
}

.question__mail {
  padding: 15px 50px;
  border: 1px solid #1a76dc;
  background: transparent;
  color: #1a76dc;
  border-radius: 6px;
  font-size: 18px;
  /* font-size: calc(13px + 2.5 * ((100vw - 320px) / (1105 - 320))); */
  text-decoration: none;
  transition: background-color, color 0.6s linear;
}

.question__mail:hover {
  color: #000000;
  background-color: #96b8cc2c;
}

.question__link {
  margin-top: 45px;
}

.link__mail {
  color: #1a76dc;
  font-size: 18px;
  /* font-size: calc(13px + 2.5 * ((100vw - 320px) / (1105 - 320))); */
  text-decoration: none;
}

.author {
  margin: 250px 0 50px;
  color: #1a76dc;
  text-align: center;
  font-size: 18px;
  /* font-size: calc(13px + 2.5 * ((100vw - 320px) / (1105 - 320))); */
}

/* Media */

@media (max-width: 1200px) {
  /* Question */
  .author {
    margin-top: calc(80px + 85 * ((100vw - 320px) / (1105 - 320)));
  }

  .question {
    margin-top: calc(50px + 55 * ((100vw - 320px) / (1105 - 320)));
  }

  /* FAQ */
  .faq__dropdown {
    margin-top: calc(3px + 18.5 * ((100vw - 320px) / (1105 - 320)));
    padding-left: calc(20px + 20 * ((100vw - 320px) / (1105 - 320)));
  }

  .faq__section {
    margin-top: calc(20px + 22.5 * ((100vw - 320px) / (1105 - 320)));
  }

  .faq__content {
    margin-top: calc(70px + 24 * ((100vw - 320px) / (1105 - 320)));
  }

  /* Features */
  .features {
    margin-top: calc(20px + 49 * ((100vw - 320px) / (1105 - 320)));
  }

  /* Product */
  .section__product {
    margin-top: calc(80px + 50 * ((100vw - 320px) / (1105 - 320)));
  }

  .product {
    margin-top: calc(30px + 20 * ((100vw - 320px) / (1105 - 320)));
  }

  /* Product page (Masks, Protection, Santizers...)*/
  .product__item {
    padding: 0 calc(10px + 20 * ((100vw - 320px) / (1105 - 320)));
    margin-top: calc(60px + 10 * ((100vw - 320px) / (1105 - 320)));
  }

  /* Title */
  .title {
    margin-top: calc(100px + 32.5 * ((100vw - 320px) / (1105 - 320)));
  }

  /* Header */
  .inner__logo {
    margin-top: calc(10px + 30 * ((100vw - 320px) / (1155 - 320)));
  }

  .header__nav {
    margin-top: calc(49px + 25 * ((100vw - 320px) / (1155 - 320)));
  }

  /* General styles */
  .subtext {
    margin-top: calc(1px + 14.5 * ((100vw - 320px) / (1105 - 320)));
    line-height: calc(18px + 4 * ((100vw - 320px) / (1105 - 320)));
  }
}

@media (max-width: 768px) {
  /* Product page (Masks, Protection, Santizers...)*/
  .product__container {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .product__item {
    width: 340px;
  }

  .product__item h3 {
    padding: 0;
  }

  /* Features */
  .features {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .features__item {
    display: flex;
    width: 95%;
    align-items: center;
    padding: 0px;
    margin: 5px;
  }

  .features__item p {
    padding-left: 10px;
  }

  /* Header */
  .header__inner {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: rgba(243, 243, 243, 0.98);
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 30%);
  }

  .inner__logo {
    margin: 10px 15px 0;
    width: 100%;
  }

  .inner__logo img {
    max-width: 80%;
    display: block;
  }
  /* Header(Burger) */

  .header__nav {
    display: none;
    position: absolute;
    right: 0;
    top: 40%;
    width: 60%;
    height: 160%;
    background-color: rgba(243, 243, 243, 0.98);
  }

  .nav {
    flex-direction: column;
  }

  /* Burger */
  .header__burger {
    display: block;
    cursor: pointer;
    margin: 5px 10px;
    width: 50px;
    height: 50px;
    background: url("../images/icone/menu.svg") center no-repeat;
    background-size: contain;
    transition: 0.1s all linear;
  }

  .header__active {
    background: url("../images/icone/menu-close.svg") center no-repeat;
    background-size: contain;
  }
}
